html, body {
    height: 100%; 
    margin: 0;   
    display: flex; 
    flex-direction: column; 
    font-family: Arial, sans-serif;
    background: url('/images/sky.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;

.introduction{
    padding: 10px;
    text-justify: auto;        
    text-align: center;
}
.sign-in-button{
    background-color: #3066be;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 18%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
      }
header {
    color: white;
    padding:5px;
    text-align: center;
}

.container {
    padding: 5px;
    max-width: 500px;
    margin: 0 auto; 
    flex: 1; 
    
    
}

.header-portfolio-title {
    margin-top: 100px;
    margin-bottom: 2px;
    padding: 100x;
}
h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1px;
    width: 100%; 
    box-sizing: border-box; 
    
}

h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
}

h4 {    
    font-size: 1 px;
    font-family: Arial;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    justify-content: space-evenly;
}

.container1 {
    padding: 20px;          
    background-color: #b4c5e4;
    border-radius: 5%;     
    max-width: 500px;       
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.home-submit{
    background-color: #3066be; 
    color: white; 
    cursor: pointer; 
    margin-top: 10px;
    width: 20%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid;
}

.submit-home{
    
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
}

ul.toc {
    list-style-type: none;
    padding: 10;

}

ul.toc li {
    font-size: 1.2rem;
    margin: 5px 0;
}

.form-group {
    margin-bottom: 50px;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.input-box {
    width: 90%; 
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.input-box {
    height: 50px;
    resize: none;
}

.submit-btn {
    background-color: #3066be;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-color: #3066be;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}

.submit-btn:hover {
    background-color: #3066be;
}

.navbar {
    background-color: #b4c5e4;
    padding: 10px;
    text-align: right; 
    position: fixed;  
    top: 0;            
    left: 0;        
    width: 100%;    
    z-index: 1000;   
    box-shadow: 0 2px 5px #b4c5e4;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #b4c5e4;
}


.footer {
    background-color: #b4c5e4;
    color: white;        
    text-align: center;  
    padding: 1px 0;    
    width: 100%;        
    margin-top: auto;      
}

.footer ul {
    list-style-type: none;  
    padding: 0;             
    margin: 10px 0 0;      
}

.footer ul li {
    display: inline;        
    margin: 0 10px;         
}

.footer a {
    color: white;          
    text-decoration: none;  
}

.footer a:hover {
    text-decoration: underline;
}

.navigation {
    margin: 20px auto; 
    text-align: center; 
}

.next-button,
.next-navigation {
    display: inline-block;
    background-color: #b9e4db; 
    color: #3066be; 
    padding: 10px 20px;
    font-size: 1rem;
    border: none; 
    border-radius: 10px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    margin-top: 10px; 
}   
.welcome-container {
    text-align: center; 
}

.welcome-content {
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 50px; 
    
}

.welcome-image {
  max-width: 9%;
    height: auto;
    margin-right: 20px;     
}

.welcome-text {
    max-width: 40%;
    color: white;
  
}

.header-container {
    display: flex; 
    align-items: center; 
}

.username-container {
    text-align: center; 
    margin-top: 50px; 
}

.username-container h2 {
    font-size: 2rem; 
    margin-bottom: 15px; 
    color: white;
    
}

.username-container .form-group {
    display: inline-block; 
    text-align: left; 
}

.username-container input {
    width: 250px; 
    padding: 5px; 
    border-radius: 5px;
    border: 2px solid white;
 }

.form-box {
    background-color: #b4c5e4; 
    border: 1px solid #b4c5e4; 
    border-radius: 10px; 
    padding: 20px;
    max-width: 400px; 
    margin: 0 auto; 
}

.form-box h2 {
    text-align:right;
    margin-bottom: 50px; 
    
  
}

.form-box label {
    display: block; 
    margin-bottom: 15px; 
    color: white;
}

.form-box input,
.form-box button {
    width: 95%; 
    padding: 9px;
    border-radius: 5px;
    border: white;
    
}

.form-box button {
    background-color: #3066be;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 20%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
   
}

.form-box button:hover {
    background-color: #3066be;
     
}

.link-container {
    text-align: center;
    margin-top: 10px; 
}

.button-link {
    display: inline-block; 
    background-color: #3066be; 
    color: rgb(231, 253, 247);
    padding:20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    

}

.button-link:hover {
    background-color: #3066be; 
}

.card-container {   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 25px; 
}


.cat-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    justify-items: center;
    align-items: center; 
    margin-right: 5px;
}

.cat-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.6s ease;
    margin-bottom: 0px;
}

.cat-card:hover {
    transform: translate(-12px);
}

.cat-container {
    width: 200px;
    height: 190px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.cat-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cat-detail p {
    color: #633a05;
    font-size: 15px;
    margin-left: 5px;
}


@media screen and (max-width: 768px) {
    .cat-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
    .cat-card {
        width: 85%;
        margin: 25px auto;
    }
}


.welcome-box {
    background-color: #226a80c2;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}


.welcome-box h1 {
    font-size: 1 rem;
    color: white;
    margin-bottom:2%;
}

.welcome-box p {
    font-size: 1 rem;
    color: white;
    margin-bottom: 30px;
}


.welcome-box .submit {
    background-color: #3066be;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


.welcome-box .submit:hover {
    background-color: #3066be;
}

.center-container{
    width: 30%;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: Poppins;
    text-align: center;  
}

.redirect-button {
    background-color: #3066be;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 9%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}

.redirect-button:hover {
    background-color:#3066be; 
}


.lab-container {
    display: flex;                      
    justify-content: space-between;     
    align-items: center;                
    width: 100%;                        
    padding: 20px;                      
    gap: 20px;                          
}

.lab {
    flex: 1;                            
    max-width: 23%;                     
    margin: 10px;                       
    transition: transform 0.3s ease;    
}

.lab img {
    width: 250px;                        
    height: 250px;  
    padding-left: 25px;                     
    border-radius: 10px;                
}

.lab:hover {
    transform: scale(1.05);             
}

@media screen and (max-width: 768px) {
    .lab {
        flex-direction: column;
        align-items: center;
    }

    .lab {
        width: 85%;
        margin: 25px auto;
    }
}


.labs-container{
    width: 30%;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: Poppins;
    text-align: center;  
}
